/* Experience and Education Sections */
.experience-section, .education-section {
    padding: 4rem 2rem;
    background-color: #232931;
    color: #EEEEEE;
}

.experience-section h2, .education-section h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #4ECCA3;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline-item {
    position: relative;
    margin: 2rem 0;
    transition: transform 0.3s ease; 
}

.timeline-item:hover {
    transform: translateY(-30px);  
}

 

 
.timeline-item::after {
    content: '';
    display: table;
    clear: both;
}

.timeline-item .timeline-icon {
    position: absolute;
    top: 15px;
    left: 50%;
    width: 25px;
    height: 25px;
    background-color: #4ECCA3;
    border-radius: 50%;
    margin-left: -12.5px;
}

.timeline-item .timeline-content {
    padding: 1rem 2rem;
    background-color: #393E46 ;
    position: relative;
    border-radius: 8px;
    width: 45%;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.timeline-item:nth-child(odd) .timeline-content {
    left: 0;
}

.timeline-item:nth-child(even) .timeline-content {
    left: 55%;
}



.timeline-item h3 {
    margin-top: 0;
    font-size: 1.5rem;
}

.timeline-item span {
    display: block;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: #BBBBBB;
}

.timeline-item p {
    margin: 0;
}

/* Divider */
.divider {
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
    line-height: 0;
}

.divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.divider path {
    fill: #393E46;  
}



/* Media Query for Tablet and Mobile Size */
@media only screen and (max-width: 768px) {
    .experience-section, .education-section {
        padding: 2rem;  
    }

    .experience-section h2, .education-section h2 {
        font-size: 2rem; 
        margin-bottom: 1.5rem; 
    }

    .timeline {
        padding: 0 1rem;  
    }

    .timeline::after {
        left: 1.5rem;  
        margin-left: 0; 
    }

    .timeline-item {
        margin: 1.5rem 0;  
    }

    .timeline-item .timeline-icon {
        top: 10px;  
        width: 20px; 
        height: 20px;  
        margin-left: -10px;  
    }

    .timeline-item .timeline-content {
        width: 100%; 
        left: 0; 
    }

    .timeline-item:nth-child(odd) .timeline-content {
        left: 0;  
    }

    .timeline-item:nth-child(even) .timeline-content {
        left: 0;  
    }

    .timeline-item h3 {
        font-size: 1.2rem;  
    }

    .timeline-item span {
        font-size: 0.9rem;  
    }
}


 

 