
/* header section  */
nav { 
    display: flex;
    width:80%;
    height: 150px;
    margin: auto;
    padding: 2rem 1rem;
    align-items:  baseline;
    justify-content: space-between;
    gap: 2rem;

}

.nav-list {
    
    display: flex;  
    align-items: center;
    gap: 3rem;
    list-style: none;
    
}


.nav-items a{
    position: relative;
    padding-bottom: 0.75rem;
    color: #EEEEEE;
    font-size: larger;
 }

.nav-items a::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color:#4ECCA3;
    transition: all 0.3s ease;
}
.nav-items a:hover::after{
    width: 70%;
}



.logo { 
    max-width: 80px;
    min-width: 60px;
}

.logo-img {
    width: 100%;  
 }


.btn {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    color: #EEEEEE;
    background-color: #4ECCA3;
    border-radius: 5px;
    cursor: pointer;
    transition:  all 0.3s ease;
    
}

.btn:hover{
    background-color: #393E46;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    position: relative;
    padding-top: 2rem;
    padding: 3rem 1rem;
     
    
 
}

.blur {
   position: absolute;
   box-shadow: 0 0 1000px 50px #4ECCA3;
   z-index: -100; 
}

 
.header-content h1 {
    color: #EEEEEE;
    margin-bottom: 1rem;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 3rem;


}

.header-content p {
    margin-bottom: 1.5rem;
    color: #EEEEEE; 

}

.image {
    width: 100%;
    max-width: 600px;
}

.image img {
    width: 80%;
     
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

 
 /* Media Query for Tablet Size (768px) */
@media only screen and (max-width: 768px) {
    nav {
        width: 90%;  
        height: auto;  
        padding: 1rem;  
        align-items: center; 
    }

    .nav-list {
        gap: 2rem;  
    }

    .nav-items a {
        font-size: 1rem;  
    }

    .logo {
        max-width: 60px;  
        min-width: 40px;  
    }

    .header-container {
        padding: 2rem 1rem;  
    }

    .header-content h1 {
        font-size: 2rem;  
        line-height: 2.5rem;  
    }

    .header-content p {
        margin-bottom: 1rem;  
    }

    .image img {
        width: 100%;  
    }
}

/* Media Query for Mobile Size (425px) */
@media only screen and (max-width: 425px) {
    nav {
        width: 100%;  
        padding: 0.5rem;  
    }

    .nav-list {
        display: none; 
    }

    .logo {
        max-width: 50px;  
        min-width: 30px;  
    }

    .header-container {
        padding: 1rem;  
        flex-direction: column;  
        align-items: center;  
    }

    .header-content {
        order: 2;  
        padding: 20px;
    }

    .header-content h1 {
        font-size: 1.5rem; 
        line-height: 2rem;  
    }

    .header-content p {
        margin-bottom: 1rem;  
    }

    .image img {
        width: 100%;  
    }
    .image { 
        width: 60%;
         
    }
    .btn {
        margin-bottom: 15px;
    }
}
