
/* Base Styles */

* {
    padding: 0; /* Reset the padding for all elements to 0 */
    margin: 0; /* Reset the margin for all elements to 0 */
    outline: none; /* Remove the outline from all elements (use cautiously for accessibility) */
    border: none; /* Remove any border from all elements */
    box-sizing: border-box; /* Set the box model to include padding and border in the element's width and height */
    color: #EEEEEE; /* Set the text color for all elements to a light gray color */

}


a {
    text-decoration: none; /* Remove the default underline from all anchor (<a>) elements */
}

body {
    font-family: 'Poppins' ,sans-serif ;
    background-color: #232931;  
}


