
/* Tech Stack Section */




.tech-stack-section {
    padding: 4rem 2rem;
    background-color: #232931;
    color: #EEEEEE;
}

.tech-stack-section .container {
    max-width: 1200px;
    margin: auto;
}

.tech-stack-section h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.5rem;
}

.tech-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
}

.tech-category {
    flex: 1 1 calc(33.333% - 2rem);
    background-color: #393E46;
    padding: 1.5rem;
    border-radius: 10px;
    position: relative;
    overflow: hidden;  
    transition: all 0.3s ease;
}

.tech-category::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px solid #4ECCA3;  
    border-radius: 10px;
    opacity: 0;
    transition: all 0.3s ease;
}

.tech-category:hover::before {
    opacity: 1;
}

.tech-category:hover {
    transform: translateY(-15px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.tech-category h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.tech-category ul {
    list-style-type: none;
    padding-left: 0;
}

.tech-category li {
    margin-bottom: 0.5rem;
    font-size: 22px;
}


/* Media Query for Tablet and Mobile Size */
@media only screen and (max-width: 768px) {
    .tech-categories {
        flex-direction: column;
        align-items: center; 
        gap: 1rem; 
        
    }

    .tech-category {
        flex: 1 1 100%;  
        width: 80%;
    }

    .tech-category h3 {
        font-size: 1.2rem;  
        margin-bottom: 0.5rem;  
    }

    .tech-category ul {
        margin-bottom: 1rem;  
    }

    .tech-category li {
        font-size: 18px;  
    }
    
    
}
